.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #689af7;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

header h2 {
    color: #91dfdf;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    font-family: cursive;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

form button {
    border: none;
    outline: none;
    padding: 10px 50px;
    background: #188a80;
    color: #cdf7ff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.checked {
    text-decoration: line-through;
}

li button {
    float: right;
}

li {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}

input[type="checkbox"] {                 
    border-radius: 50%;   /* Set the clip path of circle*/
    clip-path: circle(46% at 50% 50%);
    color: #ff5945;
  }